{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Retos Disponibles</h1>
    </div>
    <ul class="list-group list-group-flush">
        {% for reto in retos %}
            <li class="list-group-item bg-transparent">
                <a href="{% url 'detalle_reto' reto.id %}">{{ reto.titulo }}</a>
                <span class="text-muted float-end">({{ reto.dificultad }} - {{ reto.puntuacion }} puntos)</span>
            </li>
        {% empty %}
            <li class="list-group-item bg-transparent">No hay retos disponibles.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
